.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 480px;
    width: 92vw;
    border-radius: 24px;
    box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.2);
    background-color: #aaaaaa80;
    margin: 4vh 0;
}

.title {
    max-width: 480px;
    width: 92vw;
    background-color: #aaa;
    text-align: center;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    margin: 0;
    padding: 4px;
    box-sizing: border-box;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.24);
}

.title:hover {
    cursor: default;
}
